<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.its.scc">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true">
		<activity android:name=".Activities.Internal.CekPasswordAbsensi.InternalCekPasswordAbsensiActivity"></activity>
		<activity android:name=".Activities.Internal.DetailAbsensi.InternalDetailAbsensiActivity" />
		<activity android:name=".Activities.Internal.CreateAbsensi.InternalCreateAbsensiActivity" />
		<activity android:name=".Activities.Internal.ListAbsensi.InternalListAbsensiActivity" />
		<activity android:name=".Activities.Eksternal.DetailBankSoftware.EksternalDetailBankSoftwareActivity" />
		<activity android:name=".Activities.Eksternal.ListBankSoftware.EksternalListBankSoftwareActivity" />
		<activity android:name=".Activities.Eksternal.ListSoftware.EksternalListSoftwareActivity" />
		<activity android:name=".Activities.Eksternal.BeforeOrderBS.EksternalBeforeOrderBSActivity" />
		<activity android:name=".Activities.Eksternal.ListJadwalBS.EksternalListJadwalBSActivity" />
		<activity android:name=".Activities.Eksternal.MasukKelasStep1.EksternalMasukKelasStep1Activity" />
		<activity android:name=".Activities.Eksternal.ListProve.EksternalListProveActivity" />
		<activity android:name=".Activities.Eksternal.BeforeCreateProve.EksternalBeforeCreateProveActivity" />
		<activity android:name=".Activities.Eksternal.DetailProve.EksternalDetailProveActivity" />
		<activity android:name=".Activities.Eksternal.ListJadwal.EksternalListJadwalActivity" />
		<activity android:name=".Activities.Internal.AkunEdit.InternalAkunEditActivity" />
		<activity android:name=".Activities.Eksternal.AkunEdit.EksternalAkunEditActivity" />
		<activity android:name=".Activities._Pendaftaran.PendaftaranActivity" />
		<activity android:name=".Activities.Eksternal.ListMateri.EksternalListMateriActivity" />
		<activity android:name=".Activities.Eksternal.ListInternal.EksternalListInternalActivity" />
		<activity
			android:name=".Activities.Eksternal._Home.EksternalHomeActivity"
			android:theme="@style/AppThemeHome" />
		<activity
			android:name=".Activities.Internal._Home.InternalHomeActivity"
			android:theme="@style/AppThemeHome" />
		<activity android:name=".Activities._Login.LoginActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>
